/* ! CSS Reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* ! Do not Change */
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: #555;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
}

/* * -- Header -- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #fdf2e9;
  height: 9.6rem;
  margin: 0 auto;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  display: inline-block;
  background-color: #e67e22;
  color: #fff;
  padding: 1rem 2.2rem;
  border-radius: 0.5rem;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  display: inline-block;
  background-color: #cf711f;
  color: #fff;
  padding: 1rem 2.2rem;
  border-radius: 0.5rem;
}

/* Navbar Mobile Icon */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.mobile-nav-icon[name="close-outline"] {
  display: block;
}

/* * -- Hero Section -- */

.hero-section {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-img {
  display: flex;
}

.delivered-img img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
  margin-right: -1.6rem;
}

.delivered-img img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #8a4c14;
  font-weight: 700;
}

/* * -- Featured Section -- */

.featured-section {
  padding: 4.8rem 0 3.2rem;
}

.heading-featured-in {
  color: #888;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}

/* * -- How it Works Section -- */

.how-section {
  padding: 9.6rem 0;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-img {
  width: 35%;
}

.step-number {
  color: #bbb;
  font-size: 8.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* * -- Meal Section -- */

.meals-section {
  padding: 9.6rem 0;
}

.meal-item {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.meal-img {
  width: 100%;
}

.meal-content {
  padding: 3.2rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 80px;
  padding: 0.4rem 0.8rem;
}

.tag-vegetarian {
  background-color: #51cf66;
}

.tag-vegan {
  background-color: #94d82d;
}

.tag-paleo {
  background-color: #fcc419;
}

.meal-title {
  color: #333;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
  text-align: left;
}

.meal-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
}

.meal-desc {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  color: #cf711f;
  height: 2.4rem;
  width: 2.4rem;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}

.link:link,
.link:visited {
  color: #cf711f;
  text-decoration: none;
  transition: all 0.5s;
  padding-bottom: 2px;
}

.link:hover,
.link:active {
  border-bottom: 1px solid currentColor;
}

/* * -- Testimonial Section -- */

.testimonial-section {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 60fr 40fr;
  align-items: center;
}

.testimonial-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  color: #444;
  font-size: 1.6rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.6s;
}

.gallery-item img:hover {
  transform: scale(1.2);
}

/* * Pricing Section */

.pricing-section {
  padding: 9.6rem 0;
}

.pricing-plan {
  width: 75%;
  border-radius: 10px;
  padding: 4.8rem;
}

.pricing-plan-starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.8rem;
}

.pricing-plan-full {
  position: relative;
  background-color: #fdf2e9;
  overflow: hidden;
}

.pricing-plan-full::after {
  content: "Best Value";
  position: absolute;
  top: 6%;
  right: -18%;
  color: #333;
  background-color: #fcc419;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  transform: rotate(45deg);
  padding: 1rem 8rem;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.8;
  margin-bottom: 2.4rem;
}

.plan-price {
  color: #333;
  font-size: 6.2rem;
  font-weight: 600;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.plan-btn {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.6;
}

.feature-icon {
  color: #333;
  background-color: #fdf2e9;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  padding: 1.6rem;
  margin-bottom: 3.2rem;
}

.feature-title {
  color: #333;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* * -- Call to Action Section -- */
.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.cta-text-box {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 70, 0.3),
      rgba(230, 125, 34, 0.3)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  color: inherit;
  background-color: #fdf2e9;
  font-size: 1.8rem;
  font-family: inherit;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  padding: 1.2rem;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(253, 242, 233, 0.5);
}

/* * -- Footer --*/

.footer {
  padding: 12.8rem 0 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.2rem;
}

.social-icons {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  color: #767676;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-top: 5.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 1.6rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.footer-link:link,
.footer-link:visited {
  color: #767676;
  font-size: 1.6rem;
  text-decoration: none;
  transition: all 0.6s;
}

.footer-link:hover,
.footer-link:active {
  color: #333;
}
